#projects-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* Card */
.project-card {
  width: 350px;
  height: 220px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
  overflow: hidden;
  transition: transform 0.3s ease;
  margin: 0px 20px;
}

.project-card:hover {
  transform: scale(1.05);
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-title {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
}

/* Popup modal */
.modal-content {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 80%;
  max-width: 800px;
  max-height: 80vh;
  overflow-y: auto;
}

.slideshow {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  overflow-x: auto;
}

.slideshow-img {
  width: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.close-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #2196f3;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.close-btn:hover {
  background: #1976d2;
}
